* {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  -webkit-text-decoration: #268bff wavy underline;
          text-decoration: #268bff wavy underline;
}

.header {
  background-color: #2e2e2e;
  height: 100px;
}
.header ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header ul li {
  list-style: none;
}
.header ul li a {
  text-decoration: none;
  color: white;
}

.comic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid black;
  margin-top: 20px;
  margin-right: 40px;
}
.comic .maxWidth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.allComics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
}

.center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonChar {
  margin: 20px;
}

.list {
  display: flex;
  justify-content: center;
}
.list .characterModif:nth-child(1) {
  border-top: 2px solid black;
}
.list .characterModif {
  width: 600px;
}
.list .characterModif div {
  width: 100%;
  display: flex;
}
.list .characterModif div .leftPartInfo {
  width: 30%;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.list .characterModif div .rightPartInfo {
  width: 70%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: flex-end;
}
.list .characterModif div .rightPartInfo .input {
  width: 100%;
}
.list .characterModif div .rightPartInfo select {
  width: 100%;
}
.list .characterModif div .rightPartInfo .checkDraftsman {
  display: block;
}

.divButton {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
