* {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  -webkit-text-decoration: #268bff wavy underline;
          text-decoration: #268bff wavy underline;
}

.headerCol {
  margin-left: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  width: 600px;
}
.menu .maxWidth {
  width: 100%;
}

.allMenus {
  display: flex;
}
